.Link, .a {
    color: var(--accent-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    padding: 10px;
    margin: 10px;
}

.img{
    margin: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 12 px;
    background-color: var(--book-color);
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -20;
    height: 80px;
}

.nav {
    margin: 15px;
}



/* Need mobile responsive hamburger menu in same color */