Link, a {
    color: var(--accent-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    padding: 10px;
    margin: 10px;
}

img{
    margin-left: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 12 px;
}

.nav {
    margin: 15px;
}

/* Need mobile responsive hamburger menu in same color */
/* look at old headers for how to style padding/spacing */