.Link, .a {
    color: var(--accent-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.img{
    margin: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 12 px;
    background-color: var(--book-color);
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -20;
    height: 100px;
    overflow: auto;
}

.nav {
    margin: 15px;
}


@media (max-width: 850px) {
    .Link {
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .Link {
        font-size: 12px;
    }
}
/* Need mobile responsive hamburger menu in same color */