.name {
    color: var(--accent-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    background-color: var(--book-color);
    text-align: center;
}

/* Need to scale down probably on mobile */