.title, .label, .form > button{
    color: var(--note-color);
    padding: 10px;
}

.input{
    background-color: var(--book-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 12px;
    font-size: 18px;
    
}
.title{
   text-align: center;
   margin: 0;
}

.label{
    color: var(--note-color);
    font-size: 16pt;
    text-align: left;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.form > * {
    margin-bottom: 10px;
}

.form > button {
    cursor: pointer;
    transition: 0.15s ease;
    background-color: var(--primary-color);
    color: var(--note-color);
    font-size: 20pt;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
    margin-top: 10px;
}

.form > button:is(:hover, :focus, :active){
    background-color: var(--note-color);
    color: var(--primary-color);
}

