.title {
    color: var(--note-color);
    padding-top: 20px;
}

.main {
    background-color: var(--background-color);
    height: 1000px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.options {
    text-align: center;
    padding: 10px;
}

.Link {
    color: var(--book-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}