.title{
    color: var(--note-color);
}

.label{
    color: var(--note-color);
    font-size: 16pt;
    padding: 10px;
}

.input {
    color: var(--primary-color);
    background-color: var(--book-color);
    padding: 20px;
}

.form > button {
    background-color: var(--primary-color);
    color: var(--note-color);
    font-size: 20pt;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
}

.main {
    height: 100%;
}