.title{
    color: var(--note-color);
    text-align: center;
   margin: 0;
   padding-top: 20px;
}

.label{
    color: var(--note-color);
    font-size: 16pt;
    padding: 10px;
    text-align: left;
}

.input {
    color: var(--primary-color);
    background-color: var(--book-color);
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    
}

.form > button {
    cursor: pointer;
    transition: 0.15s ease;
    background-color: var(--primary-color);
    color: var(--note-color);
    font-size: 20pt;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
}

.main {
    height: 1000px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > * {
    margin-bottom: 10px;
}
.Link {
    color: var(--book-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}

.signup {
    text-align: center;
}

@media (max-width:850) {
    /* hamburger */
}