.title, .label, .form > button {
    color: var(--book-color);
    text-align: center;
}
.main {
    height: 1000px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.body{
    color: var(--note-color);
}

.blocks {
    display: flex;
    gap: 12 px;
    margin: 10px;
    text-align: center;
}

.label{
    font-size: 18px;
    margin-left: 10px;
}

.bar{
    background-color: var(--note-color);
    color: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 12px;
   
}
.form > button {
    cursor: pointer;
    transition: 0.15s ease;
    background-color: var(--primary-color);
    color: var(--book-color);
    font-size: 20pt;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
}
.form > button:is(:hover, :focus, :active){
    background-color: var(--note-color);
    color: var(--primary-color);
}

.results{
    display: flex;
    flex-direction: column;
    column-count: auto;
    column-width: 33%;
}

.image{
    width: 100px;
}

.button {
    cursor: pointer;
    transition: 0.15s ease;
    background-color: var(--primary-color);
    color: var(--book-color);
    font-size: 20pt;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
}
