.main {
    height: 1000px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.title{
    color: var(--note-color);
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 12 px;
    background-color: var(--book-color);
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -20;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.form > * {
    margin-bottom: 20px;
}

.blocks {
    display: flex;
    justify-content: space-between;
    gap: 12 px;
}

.label{
    color: var(--note-color);
    font-size: 16pt;
    padding: 10px;
    text-align: left;
}

.input {
    color: var(--primary-color);
    background-color: var(--book-color);
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;  
}

.form > button {
    cursor: pointer;
    transition: 0.15s ease;
    background-color: var(--primary-color);
    color: var(--note-color);
    font-size: 20pt;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
}

.form > button:is(:hover, :focus, :active){
    background-color: var(--note-color);
    color: var(--primary-color);
}

.login {
    text-align: center;
}

.Link {
    color: var(--book-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}

.holder{
    color: var(--background-color);
}
@media (max-width: 800px) {
    .Link {
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .Link {
        font-size: 12px;
    }
}
