.title {
    color: var(--book-color);
}

.block{
    padding-left: 10px;
    margin: 0, auto;   
}
 .image{
    padding: auto;
    margin: 0, auto;
}
.list {
    display: flex;
    gap: 12 px;
    margin: 10px;
    text-align: center;
}
